@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #0c0f19;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c0f19;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
